{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<h1>{{quote}}!</h1>
</div>

<hr width="50%" size="8" />

<div align="center"><img src="{{ url_for('static', filename=image) }}" alt="" class="widthImage"/></div>
<p>
<input type="button"  style="height:200px;width:200px" value="Encore" onClick="window.location.reload()">

<p>

<div class="block1">
<h3>
	<a href="#" id="link" target="_blank">Permanent link </a>
</h3>
</div>

<script type="text/javascript">
window.onload = function(){
    document.getElementById("link").href = window.location.toString()+ '/' + {{ins}} + '/' + {{imgNumber}};
}
</script>


{% endblock %}
