<html>
<head>
    <title>Excuse My French</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115443407-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115443407-1');
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
 
body{
    text-align: center;    
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #8a40c6;
    font-size: 4.5em;
}

.widthImage {
    max-width: 450px;
}

.heightImage {
    max-height: 450px;
}
 
</style>
 
</head>
<body>
 {% block body %}{% endblock %}
 
</body>
</html>
